@charset "UTF-8";


@media screen and (min-width:768px){

    span#burguer{
        display: none;
    }
    menu{
        display: block;
    }
    
    header h2{
    display: block;
    color: var(--destaque);
    font-size: 2.5em;
    }

    #top-header{
        flex-flow: row nowrap;
    }

    #itens ul{
        flex-flow: row nowrap;
    }
    
    main{
        grid-template-columns: 10% 1fr 10%;
    }
    section{
        grid-column: 2;
    }















}

