@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 --primary: #f5b400;
 --dark: #0f0f0f;
 --gray: #1c1c1c;
 --light: #ffffff;
 --gray-lighter: #292929;
}

/*Fontes
font-family: 'Poppins', sans-serif; - texto
font-family: 'Bebas Neue', sans-serif; - titulo
*/


header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
    background-color: var(--dark);
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.596);
    /*box-shadow: -1px 9px 7px 7px rgba(0, 0, 0, 0.596);;*/
    padding: 0 2%;
    background: linear-gradient(
  to bottom,
  rgba(0,0,0,0.9),
  transparent);
    
   
  
}

header.scrolled{
    background: var(--dark);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 10px var(--dark);
    height: 100px;
}

header > .logo{
    background-image: url(./assets/icons/d23e4b95-b3b1-4d0f-b037-5a097a5b007b.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

#menu{
    display: block;
    
}
 #menu.active{
    display: block;
    

    
 }

 #menu.active > ul{
    right: 0;
 }


#menu > ul{
    position: fixed;
    top: 100px;
    right: -100%;
    width: 30%;
    height: calc(100vh - 100px);
    background: var(--dark);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
    gap: 30px;
    z-index: 999;
    transition: 0.3s;
    
}

#menu li{
    margin-right: 10px;
}

#menu a{
    position: relative;
  color: #ffb300;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
}

#menu a::after{
 content: "";
 position: absolute;
 width: 0;
 height: 2px;
 bottom: -5px;
 left: 0;
 background: var(--primary);
 transition: 0.3s;
}

#menu a:hover::after{
 width: 100%;
}

.menu-toggle{
 display: block;
 font-size: 28px;
 cursor: pointer;
}


body{
    font-family: 'Poppins', sans-serif; 
    color: var(--light);
    background-color: var(--gray);
    
    
}

h1,h2,h3{
    font-family: 'Bebas Neue', sans-serif; 
    color: var(--primary);
    font-weight: lighter;
}

main{
    margin-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    padding: 20px;
    
}

/*Section hero*/

#hero .container{
    display: grid;
    align-items: center;
    background-color: var(--dark);
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    text-align: center;
    max-width: 700px;
  
    
}

.hero-image{
    background-image: url(assets/images/pexels-anete-lusina-16513597.jpg);
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    
}

#hero h1{
    text-align: center;
    font-size: 56px;
    font-weight: bolder;
}


.hero-buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    gap: 10px;
    
    
}
.hero-buttons a:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.hero-buttons a{
    text-decoration: none;
    color: white;
    transition-duration: 0.2s;
    border: 1px solid var(--primary) ;
    padding: 15px 45px;
    border-radius: 10px;
    
}


/*Section sobre*/


#sobre .container{
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: var(--gray-lighter);
    border-radius: 10px;
    gap: 20px;

}

.sobre-text{
    padding: 15px;
    text-align: justify;
}

.sobre-image{
    background-image: url(./assets/images/pexels-jonathanborba-13885345.jpg);
    grid-column: 2;
    grid-row: 1 / -1;
    background-size: cover;
    width: 90%;
    height: 100%;
    justify-self: flex-end;
    border-radius: 0px 10px;
}

#sobre a{
    grid-column: 1 / -1;
    justify-self: center;
    text-decoration: none;
    color: var(--light);
    padding: 15px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 15px;
    width: 60%;
    text-align: center;
    transition-duration: 0.2s;
}

#sobre a:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

/*BENEFICIOS*/

#beneficios .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 250px 250px;
    gap: 5px;
}
.container .card{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.25s ease, border 0.25s ease;
    
}
#beneficios i{
    font-size: 3em;
    color: var(--primary);
    margin-bottom: 15px;
    
}

#beneficios .card:hover {
  transform: translateY(-6px);
  border: 1px solid #f5b400;
}

/*Planos*/

#planos .container{
    display: grid;
    grid-template-rows: 250px 250px 250px;
    gap: 5px;
    font-weight: bolder;
}
#planos .card{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.25s ease, border 0.25s ease;
    
}
#planos li{
    list-style: none;
}

#planos a{
    text-decoration: none;
    color: var(--primary);
    background-color: var(--dark);
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    transition-duration: 0.2s;
}

#planos a:hover{
    transform: scale(1.03);
    filter: brightness(1.1);
}

#planos #basico{
    background-color: rgb(41, 41, 41);
    border: 3px solid var(--dark);
}

#premium{
    border: 1px solid var(--primary);
}

#planos #vip{
    background-color: var(--primary);
    border: 2px solid var(--light);
}

#vip h2{
    color: var(--light);
}

#vip a{
    border: 1px solid var(--light);
    color: var(--light);
    
}


#contato fieldset{
    border: 1px solid var(--primary);
    border-radius: 12px;
    padding: 20px;
    background: var(--dark);
}

#contato legend{
    color: var(--primary);
    font-weight: bolder;
    font-size: 1.7rem;
    padding: 0 10px;
    font-family: 'Bebas Neue', sans-serif;;

}

#contato label{
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
}

#contato input, #contato textarea{
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px;
    background: var(--dark);
    border: 1px solid var(--primary);
    border-radius: 8px;
    color: var(--primary);
}

#contato input:focus, #contato textarea:focus{

    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 5px var(--primary);

}

#contato .button{
    width: 100%;
    padding: 14px;
    background: linear-gradient(90deg, var(--primary) , #ff8c00);
    border: none;
    border-radius: 8px;
    color: var(--dark);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover{
    transform: scale(1.03);
    filter: brightness(1.1);
}

footer{
    display: flex;
    flex-flow: column-reverse;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

footer a{
    font-size: 1.6em;
    color:var(--primary);
    margin: 0 5px
}
footer .footer-social{
    margin: 0 10px;
    align-self: flex-start;
    
}

